<h1>Weather#new</h1>
<p>Find me in app/views/weather/new.html.erb</p>

<%= form_tag weather_index_path do %>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>
  
  <%= text_field_tag name="zipcode" %>
  <%= submit_tag "Check Weather" %>
<% end %>
