<h1>Find Weather</h1>
<p>Add a valid US zip code and let's get started</p>
<%= form_tag weather_index_path do %>
  <%= text_field_tag 'zipcode', nil, placeholder: 'Enter zip here...', required: true %>
  <%= submit_tag "Check Weather" %>
<% end %>
